/* IPHONE 6 */

@media screen and (min-width: 375px) and (max-width: 667px) {


.navbar-default .navbar-toggle {
    border-color: transparent;
}


.port {
    position: absolute;
    margin-left: 0px;
    margin-top: 51px !important;
    width: 100%;
    height: 630px;
    top: 0;
    left: 0;
     padding-top: 20px; 
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}  

.last {
  width: 206px;
  margin-left: 15px;
  border-right: 1px solid rgba(169, 169, 169, 0.48);
  height: 75px;
}  

.net {
      margin-top: -100px;
      line-height: 21px;
      margin-left: 103px;
      margin-right: 25px;
      font-size: 0.7em;
  }

.row-contact {
    margin-top: -20px !important;
}

.gallery {
    padding: 20px 0 300px !important;
    position: relative;
    overflow: hidden;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 46px !important;
}

#contact-area {
    margin-top: -100px !important;
}
  .eduinfo {
    margin-right: -160px;
    margin-left: 115px;
  }

.skill-bullets {
    margin-top: 10px;
    margin-left: 65px;
}

.resume-line {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #eee;
    width: 250px;
    margin-left: 35px;
}

.btn-primary {
    margin-left: 95px;
    margin-bottom: -45px;
}

.education {
    text-align: center;
    margin-left: 119px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.sideline {
        border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
        height: 75px;
        margin-right: 181px !important;
        font-size: 0.7em;
    }

.eduline {
     margin-right: 37px !important; 
     border-right: 1px solid rgba(169, 169, 169, 0.48) !important; 
     font-size: 0.7em;
}


.detail {
    margin-top: -40px !important;
}

.port .description {
    float: left;
    width: 70%;
    height: 700px;
    padding: 0 0px 0px;
    overflow: auto;
    color: #BDC3C7;
}
.mock {
    width: 135% !important;
    float: right !important;
    margin-top: -675px !important;
    margin-right: 0px !important;
}

.port h1 {
    font-size: 35px;
    line-height: 1.3;
    padding: 0;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 225px !important;
    font-weight: 300;
    color: white;
}

#item01 > div > div {
    margin-left: 60px;
}

#item01 > div > div > p {
    text-align: center;
}

#item01 > div > div > h1 {
    margin-top: 270px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    /* margin-left: auto; */
    margin-top: 15px;
    margin-right: 15px;
    font-size: 2.5em;
}

.headings {
    font-size: 1.3em;
    margin-bottom: 13px;
    margin-top: -10px;
    margin-left: 1px;
}

#item01 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item02 > div > div {
    margin-left: 48px;
}

#item02 > div > div > p {
    text-align: center;
    color: white;
}

#item02 > div > div > h1 {
    margin-top: 136px;
}
#item02 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item02 > div > img {
    margin-top: -805px !important;
    margin-right: -50px !important;
}

#item02 > div {
    margin-top: 75px;
}

#item02 > div > div > a:nth-child(15) {
    margin-left: 25px;
}

#item03 > div > div {
    margin-left: 60px;
}

#item03 > div > div > p {
    text-align: center;
}

#item03 > div > div > h1 {
    margin-top: 136px;
}
#item03 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item03 > div > img {
    margin-top: -805px !important;
    margin-right: 0px !important; 
}

#item03 > div {
    margin-top: 75px;
}

#item03 > div > div > h1 {
    margin-top: 145px !important;
}

#item03 > div > div > a:nth-child(11) {
    margin-left: 25px;
}

#item04 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item04 > div > div {
    margin-left: 60px;
}

#item04 > div > div > p {
    text-align: center;
}

#item04 > div > div > h1 {
    margin-top: 136px;
}
#item04 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item04 > div > img {
    margin-top: -805px !important;
    margin-right: 0px !important; 
}

#item05 > div {
    margin-top: 75px;
}

#item05 > div > div > h1 {
    margin-top: 145px !important;
}

#item05 > div > div > a:nth-child(11) {
    margin-left: 25px;
}

#item05 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item05 > div > div > a:nth-child(14) {
    margin-left: 25px;
}

#item05 > div > div > p {
    text-align: center;
}

#item05 > div > div > h1 {
    margin-top: 136px;
}
#item05 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item05 > div > img {
    margin-top: -805px !important;
    margin-right: 0px !important; 
}

#item05 > div {
    margin-top: 75px;
}

#item05 > div > div > h1 {
    margin-top: 145px !important;
}

#item05 > div > div > a:nth-child(11) {
    margin-left: 25px;
}

#item05 > div {
    margin-top: 75px;
}

#item05 > div > div > h1 {
    margin-top: 145px !important;
}

#item05 > div > div > a:nth-child(11) {
    margin-left: 25px;
}

#item06 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item06 > div > div > a:nth-child(14) {
    margin-left: 25px;
}

#item06 > div > div > p {
    text-align: center;
}

#item06 > div > div > h1 {
    margin-top: 136px;
}
#item06 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item06 > div > img {
    margin-top: -805px !important;
    margin-right: 0px !important; 
}

#item06 > div {
    margin-top: 75px;
}

#item06 > div > div > h1 {
    margin-top: 95px !important;
}
#item06 > img {
    margin-top: -860px !important;
}

#item06 > div > div > a:nth-child(10) {
    margin-left: 25px;
}


#item07 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item07 > div > div > a:nth-child(14) {
    margin-left: 25px;
}

#item07 > div > div > p {
    text-align: center;
}

#item07 > div > div > h1 {
    margin-top: 136px;
}
#item07 > div > div > a:nth-child(9) {
    margin-left: 25px;
}

#item07 > div > img {
    width: 90% !important;
    margin-top: -1350px !important;
    margin-left: 15px !important;
}

#item07 > div {
    margin-top: 75px;
}

#item07 > div > div > h1 {
    margin-top: 240px !important;
}
#item07 > img {
    margin-top: -860px !important;
}

#item08 > div > div.description > h1 {
    font-size: 33px !important;
}

#item08 > div > div.description > a:nth-child(8) {
    margin-left: -27px !important;
}

#item08 > div > div {
    margin-left: 60px !important;
    margin-top: 100px !important;
    padding-left: 0px !important;
}

#item08 > div > div.row.whatphones > div:nth-child(1) > img {
    margin-top: -1442px !important;
    margin-left: -235px !important;
}

.what-mobile {
    max-width: 120% !important;
     margin-left: 0px !important; 
     margin-top: 0px !important; 
}


.phone1 {
    margin-top: 0px !important;
     margin-right: 100px;
     margin-right: 0px !important; 
}

.phone2 {
    margin-top: -1286px !important;
    margin-left: -100px !important;
    /* float: right !important; */
    /* margin-right: -400px !important; */
}






#item09 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item09 > div > div > p {
    text-align: center;
}

#item09 > div > div > h1 {
    margin-top: 136px;
}

#item09 > div > img {
    width: 60% !important;
    margin-top: -1417px !important;
    margin-left: 74px !important;
}

#item09 > div {
    margin-top: 75px;
}

#item09 > div > div > h1 {
    margin-top: 155px !important;
}
#item09 > img {
    margin-top: -860px !important;
}



#item10 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item10 > div > div > p {
    text-align: center;
}

#item10 > div > div > h1 {
    margin-top: 136px;
}

#item10 > div > img {
    width: 100% !important;
    margin-top: -1465px !important;
    margin-left: 0px !important;
}

#item10 > div {
    margin-top: 75px;
}

#item10 > div > div > h1 {
    margin-top: 100px !important;
}
#item10 > img {
    margin-top: -860px !important;
}




#item11 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item11 > div > div > p {
    text-align: center;
}

#item11 > div > div > h1 {
    margin-top: 136px;
}

#item11 > div > img {
    width: 75% !important;
    margin-top: -1465px !important;
    margin-left: 50px !important;

}

#item11 > div {
    margin-top: 75px;
}

#item11 > div > div > h1 {
    margin-top: 100px !important;
}
#item11 > img {
    margin-top: -860px !important;
}



#item12 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item12 > div > div > p {
    text-align: center;
}

#item12 > div > div > h1 {
    margin-top: 136px;
}

#item12 > div > img {
    width: 75% !important;
    margin-top: -1465px !important;
    margin-left: 50px !important;
}

#item12 > div {
    margin-top: 75px;
}

#item12 > div > div > h1 {
    margin-top: 100px !important;
}
#item12 > img {
    margin-top: -860px !important;
}



#item13 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item13 > div > div > p {
    text-align: center;
}

#item13 > div > div > h1 {
    margin-top: 136px;
}

#item13 > div > img {
    width: 50% !important;
    margin-top: -1430px !important;
    margin-left: 95px !important;
}

#item13 > div {
    margin-top: 75px;
}

#item13 > div > div > h1 {
    margin-top: 136px !important;
}
#item13 > img {
    margin-top: -860px !important;
}




#item14 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item14 > div > div > p {
    text-align: center;
}

#item14 > div > div > h1 {
    margin-top: 136px;
}

#item14 > div > img {
    width: 100% !important;
    margin-top: -1465px !important;
    margin-left: 0px !important;
}

#item14 > div {
    margin-top: 75px;
}

#item14 > div > div > h1 {
    margin-top: 136px !important;
}
#item14 > img {
    margin-top: -860px !important;
}



#item15 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item15 > div > div > p {
    text-align: center;
}

#item15 > div > div > h1 {
    margin-top: 136px;
}

#item15 > div > img {
    width: 100% !important;
    margin-top: -1408px !important;
    margin-left: 0px !important;
}

#item15 > div {
    margin-top: 75px;
}

#item15 > div > div > h1 {
    margin-top: 160px !important;
}
#item15 > img {
    margin-top: -860px !important;
}



#item16 > div > div {
    margin-left: 60px;
    margin-top: 45px;
}

#item16 > div > div > p {
    text-align: center;
}

#item16 > div > div > h1 {
    margin-top: 136px;
}

#item16 > div > img {
    width: 75% !important;
    margin-top: -1445px !important;
    margin-left: 46px !important;
}
}

#item16 > div {
    margin-top: 75px;
}

#item16 > div > div > h1 {
    margin-top: 118px !important;
}
#item16 > img {
    margin-top: -860px !important;
}

#item16 > div > div > h1 {
    font-size: 30px;
}


}


/* NAVIGATION*/

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border: transparent;
}


/* HOME PAGE */

body {
    overflow-x: hidden;
}

.portrait {
    max-width: 125% !important;
    margin: 0 auto;
    margin-top: 45px;
    margin-left: -40px !important;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1;
    padding-top: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0 auto;
    margin-left: 20px;
}

.work {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 1.1em;
    line-height: 1;
    margin-left: 10px;
}

body > section.gallery > div.toolbar.mb2.mt2 {
    margin-top: 75px;
    margin-bottom: -70px;
    margin-left: 0px;
    text-align: center;
}

.gallery ul li {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

#portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 1;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    margin-left: 4px !important;
    width: 85%;
}

.cspan {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 1.7em;
    line-height: 1;
    margin-left: 10px;
    color: #BDC3C7;
    text-align: center;
    margin-bottom: 25px;
    margin-top: -15px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 200px;
    margin-left: 105px;
    margin-top: -10px;
}

#contact-area {
    margin-top: -345px !important;
}

#contact-area > div.social > a > img {
    max-width: 13% !important;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 35px !important;
}

#contact-area > div.social {
    margin-top: 15px;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: rgb(175, 175, 175);
}
.row-contact {
    margin-top: 85px;
}

.text-muted {
    color: rgb(175, 175, 175);
    font-size: 0.8em;
}

#contact {
    margin-left: -47px;
}


/* RESUME */

.ex-container {
    margin-left: 30px;
    font-family: 'Raleway';
    font-weight: 100;
    overflow: hidden;
}

.skills {
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-left: -30px;
    font-weight: 100;
    font-size: 1.3em;
}

.skill-bullets {
 /*   line-height: 25px;*/
    margin-top: 10px;
    margin-left: -80px;
}

.skill-list {
    list-style-type: none;
    text-align: left;
    margin-left: -40px;
    margin-top: 20px;
    font-size: 0.8em;
}

.resume-line {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #eee;
    width: 250px;
    margin-left: 5px;
}

.skill-header {
    font-size: 1em;
    margin-left: 40px;
}

.col-xs-3 {
    width: 100%;
}

.design, .software, .web {
     margin-top: 0px !important; 
}

.experience {
    text-align: center;
    margin-left: -15px;
    margin-top: -45px !important;
    font-weight: 100;
    font-size: 1.6em;
}

.net {
    margin-top: -100px;
    line-height: 21px;
    margin-left: 80px;
    margin-right: 25px;
    font-size: 0.7em;
}

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    height: 75px;
    margin-right: 188px !important;
    font-size: 0.7em;
}

.education {
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

.edu {
    list-style-type: none;
    margin-left: 175px;
    margin-top: 35px;
    padding-bottom: 15px;
}

.eduline {
    margin-right: 42px !important;
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    font-size: 0.7em;
}

.eduinfo {
  margin-right: -138px;
}


.btn-primary {
    margin-left: 70px;
}

.download {
    background-color: transparent !important;
    border-color: rgba(132, 132, 132, 0.07) !important;
    border-radius: 5px !important;
    height: 36px !important;
    width: 35%;
    margin-left: 80px !important;
    margin-top: 55px;
    line-height: 1.2 !important;
    font-size: 11px !important;
    font-weight: 100;
    font-family: 'Alegreya Sans';
    color: rgb(175, 175, 175);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 75%;
    margin-left: 21px;
    color: rgb(175, 175, 175);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/* GALAXY S5 */

@media screen and (min-width: 360px) and (max-width: 640px) {
  .net {
      margin-top: -100px;
      line-height: 21px;
      margin-left: 103px;
      margin-right: 25px;
      font-size: 0.7em;
  }

  .eduinfo {
    margin-right: -160px;
    margin-left: 115px;
  }

  .eduline {
    margin-right: 63px !important;
    font-size: 0.7em;
}

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48);
    height: 75px;
    margin-right: 272px;
    font-size: 0.7em;
}

.skill-bullets {
    margin-top: 10px;
    margin-left: -50px !important;
}

.resume-line {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #eee;
    width: 250px;
    margin-left: 35px;
}

.btn-primary {
    margin-left: 95px;
    margin-bottom: -45px;
}

.education {
    text-align: center;
    margin-left: 119px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

}

@media screen and (min-width: 412px) and (max-width: 732px) {
  .net {
      margin-top: -100px;
      line-height: 21px;
      margin-left: 116px;
      margin-right: 25px;
      font-size: 0.7em;
  }

  .eduinfo {
    margin-right: -160px;
    margin-left: 115px;
  }

  .eduline {
    margin-right: 42px !important;
    font-size: 0.7em;
}

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48);
    height: 75px;
    margin-right: 297px;
    font-size: 0.7em;
}

.skill-bullets {
    margin-top: 20px !important;
    margin-left: -50px !important;
}

.resume-line {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid #eee;
    width: 250px;
    margin-left: 35px;
}

.btn-primary {
    margin-left: 95px;
    margin-bottom: -45px;
}

.education {
    text-align: center;
    margin-left: 119px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 1.6em;
}

}

.toolbar {
    margin-left: 30px;
    margin-top: 0px;
}

#portfolio {
    margin: 1rem 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 1;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    margin-left: 30px;
    width: 85%;
}

.download {
    background-color: transparent !important;
    border-color: rgba(132, 132, 132, 0.07) !important;
    border-radius: 5px !important;
    height: 36px !important;
    width: 35%;
    margin-left: 10px;
    margin-top: 55px;
    line-height: 1.2 !important;
    font-size: 11px !important;
    font-weight: 100;
    font-family: 'Alegreya Sans';
    color: rgb(175, 175, 175);
}

header {
    background-color: #A2DED0;
    color: #fff;
    text-align: center;
    padding: 30px 0 120px;
    height: 736px;
}

#contact {
    margin-left: -28px;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 60px !important;
}

.gallery {
    padding: 20px 0 0px !important;
    position: relative;
    overflow: hidden;
}

#contact-area {
    margin-top: 200px !important;
}

.cspan {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 1.7em;
    line-height: 1;
    margin-left: 10px;
    color: #BDC3C7;
    text-align: center;
    margin-bottom: 25px;
    margin-top: -70px;
}

.row-contact {
    margin-top: 30px !important;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 49px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1;
    padding-top: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0 auto;
    margin-left: 18px;
}

.portrait {
    max-width: 140% !important;
    margin: 0 auto;
    margin-top: 75px;
    margin-left: -90px !important;
}

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    height: 75px;
    /*margin-right: 265px !important;*/
    font-size: 0.7em;
}

.eduline {
     margin-right: 75px !important; 
     border-right: 1px solid rgba(169, 169, 169, 0.48) !important; 
     font-size: 0.7em;
}

.download {
    background-color: transparent !important;
    border-color: rgba(132, 132, 132, 0.07) !important;
    border-radius: 5px !important;
    height: 36px !important;
    width: 35%;
    margin-left: 100px;
    margin-top: 48px;
    line-height: 1.2 !important;
    font-size: 11px !important;
    font-weight: 100;
    font-family: 'Alegreya Sans';
    color: rgb(175, 175, 175);
}

@media screen and (min-width: 320px) and (max-width: 568px) {

    .sideline {
        border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
        height: 75px;
        /*margin-right: 217px !important;*/
        font-size: 0.7em;
    }

    .eduline {
         margin-right: 47px !important; 
         border-right: 1px solid rgba(169, 169, 169, 0.48) !important; 
         font-size: 0.7em;
    }

    .download {
        background-color: transparent !important;
        border-color: rgba(132, 132, 132, 0.07) !important;
        border-radius: 5px !important;
        height: 36px !important;
        width: 35%;
        margin-left: 98px !important;
        margin-top: 48px;
        line-height: 1.2 !important;
        font-size: 11px !important;
        font-weight: 100;
        font-family: 'Alegreya Sans';
        color: rgb(175, 175, 175);
    }

    .portrait {
    max-width: 140% !important;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: -80px !important;
}

#contact {
    margin-left: -48px;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 47px !important;
}

}


@media screen and (min-width: 414px) and (max-width: 736px) {

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    height: 75px;
    margin-right: 259px !important;
    font-size: 0.7em;
}

.eduline {
    margin-right: 69px !important;
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
}

.download {
    background-color: transparent !important;
    border-color: rgba(132, 132, 132, 0.07) !important;
    border-radius: 5px !important;
    height: 36px !important;
    width: 35%;
    margin-left: 110px !important;
    margin-top: 48px;
    line-height: 1.2 !important;
    font-size: 11px !important;
    font-weight: 100;
    font-family: 'Alegreya Sans';
    color: rgb(175, 175, 175);
}

#contact {
    margin-left: -28px;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 60px !important;
}

}

@media screen and (min-width: 412px) and (max-width: 732px) {

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    height: 75px;
    margin-right: 259px !important;
    font-size: 0.7em;
}

.eduline {
    margin-right: 69px !important;
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    font-size: 0.7em;
}

.download {
    background-color: transparent !important;
    border-color: rgba(132, 132, 132, 0.07) !important;
    border-radius: 5px !important;
    height: 36px !important;
    width: 35%;
    margin-left: 110px !important;
    margin-top: 48px;
    line-height: 1.2 !important;
    font-size: 11px !important;
    font-weight: 100;
    font-family: 'Alegreya Sans';
    color: rgb(175, 175, 175);
}

#contact {
    margin-left: -28px;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 60px !important;
}

}

@media screen and (min-width: 320px) and (max-width: 480px) {

.portrait {
    max-width: 130% !important;
    margin: 0 auto;
    margin-top: 2px;
    margin-left: -50px !important;
}

.sideline {
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
    height: 75px;
    /*margin-right: 259px !important;*/
    font-size: 0.7em;
}

.eduline {
    /*margin-right: 69px !important;*/
    border-right: 1px solid rgba(169, 169, 169, 0.48) !important;
}

.download {
    background-color: transparent !important;
    border-color: rgba(132, 132, 132, 0.07) !important;
    border-radius: 5px !important;
    height: 36px !important;
    width: 35%;
    margin-left: 110px !important;
    margin-top: 48px;
    line-height: 1.2 !important;
    font-size: 11px !important;
    font-weight: 100;
    font-family: 'Alegreya Sans';
    color: rgb(175, 175, 175);
}

#contact {
    margin-left: -75px;
}

#contact-area {
    margin-top: 320px !important;
}

.row-contact {
    margin-top: 140px !important;
}

#contact-area > div.social > a:nth-child(1) {
    margin-left: 38px !important;
}

}


@media screen and (min-width: 375px) and (max-width: 667px) { 

.sideline {
    margin-right: 220px !important;
}



}


@media screen and (min-width: 414px) and (max-width: 736px) { 

.sideline {
    margin-right: 260px !important;
}



}

